@charset "utf-8";
/*------------------------------------------------------------
	price
------------------------------------------------------------*/
.comMenuBg .menuSub01 .menuLink li:nth-child(4) a {
	opacity: 0.5;
}
.comMenuBg .spMenuSub .menuLink:first-child li:nth-child(4) a {
	opacity: 0.5;
}
#main .mainBox {
	padding-bottom: 17.3rem;
	position: relative;
}
@media all and (min-width: 1000px) {
	.pageTitle .photo img {
		height: 50rem;
	}
	.pageTitle h2 {
		transform: translateY(-36%);
	}
	#pagePath {
		padding: 3.7rem 4rem 6.2rem;
	}
}
@media all and (max-width: 999px) {
	#main .mainBox {
		padding: 5.5rem 0 8.1rem;
		overflow: hidden;
	}
}