@charset "utf-8";
/*------------------------------------------------------------
	lian-reserve/price
------------------------------------------------------------*/
.fNavi li:nth-child(2) {
	opacity: 0.5;
}
#main .mainBox {
	padding: 1.6rem 0 17.9rem;
	position: relative;
}
.comPrice .priceSec .headLine07 {
	font-weight: 400;
	color: #26525B;
	font-family: YakuHanMP, "Playfair Display", serif;
}
.comPrice .priceSec .whiteBg {
	background-color: transparent;
	border: 1px solid #E9E9E9;
}
.comPrice .priceSec .headLine09 {
	background-color: #15424C;
}
.comTab thead th, 
.comTab thead td {
	background-color: #EAEAEA;
}
@media all and (min-width: 1000px) {
	#main #pagePath {
		padding-bottom: 9.5rem;
	}
	.comPrice .priceSec {
		margin-bottom: 11rem;
	}
	.comPrice .priceSec .headLine07 {
		margin-bottom: 1.8rem;
	}
	.comPrice .priceSec .headLine08 {
		color: #222;
	}
	.comPrice .priceSec .note {
		margin-bottom: 1rem;
	}
	.comPrice .priceSec .whiteBg {
		padding: 6rem 0 8rem;
	}
	.comPrice .priceSec .topBox {
		margin-bottom: 4.4rem;
	}
	.comPrice .comSelectList {
		margin-top: 1.3rem;
	}
	.comPrice .btmBox {
		padding: 4rem 0 4.1rem;
	}
}
@media all and (max-width: 999px) {
	.mainImg h2 .jp {
		line-height: 1.93;
	}
	#main .mainBox {
		padding: 5.3rem 0 12rem;
	}
	.comPrice .priceSec {
		margin-bottom: 9.3rem;
	}
	.comPrice .priceSec .headLine07 {
		margin-bottom: 3.3rem;
	}
	.comPrice .priceSec .whiteBg {
		padding: 4.8rem 1rem 5rem;
	}
	.comPrice .btmBox {
		margin-top: -1.3rem;
		padding: 0;
	}
}
