@font-face {
  font-family: 'Hiragino Mincho Pro';
  src: url('../fonts/hiraminpro-w3.otf');
}

@font-face {
  font-family: 'TuesdayNight-Regular';
  src: url('../fonts/TuesdayNight-Regular.otf');
}

a,
a:hover {
  text-decoration: none;
  color: #231815;
  transition: 0.2s;
}

a:focus {
  outline: none;
}

img {
  vertical-align: bottom;
  width: 100%;
  height: auto;
}

.d-fl {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sp {
  display: none;

  @include mqSp {
    display: block;
  }
}

.pc {
  display: block;

  @include mqSp {
    display: none;
  }
}

.menu-inn {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  padding: 50px 0 60px;
  background-color: #fff;

  @include mqSp() {
    padding: 50px 0 60px;
  }

  &-ttl {
    margin-bottom: 50px;
  }
}

.breadcrumbs {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 71.17px;
  background-color: #f2eee7;

  @include mqSp() {
    margin-top: 55px;
    padding-bottom: 10px;
  }

  &-inn {
    width: 90%;
    margin: auto;

    @include mqSp() {
      display: flex;
    }

    #breadcrumbs{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

    a {
      position: relative;
      color: rgba($color: #000000, $alpha: 0.5);
      font-size: 10px;
      text-decoration: underline;
      padding-right: 12px;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0px;
        width: 5px;
        height: 5px;
        border-top: 1px solid rgba($color: #000000, $alpha: 0.5);
        border-right: 1px solid rgba($color: #000000, $alpha: 0.5);
        transform: rotate(45deg) translateY(-50%);
        -webkit-transform: rotate(45deg) translateY(-50%);
        -moz-transform: rotate(45deg) translateY(-50%);
        -ms-transform: rotate(45deg) translateY(-50%);
        -o-transform: rotate(45deg) translateY(-50%);
      }
    }

    span {
            color: rgba(0,0,0,0.5);
            font-size: 10px;
      span{
        span{
        padding-left: 12px;
      }
      }
      &.current-item {
        @include mqSp() {
          display: inline-block;
          width: 100px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

.l-slash {
  font-weight: 500;
  font-family: DejaVu Sans, Symbola, Everson Mono, Dingbats, Segoe UI Symbol, Quivira, SunExt-A, FreeSerif, Universalia, unifont;
}
